<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card bg-info">
                <div class="card-body text-center">
                    <h3 class = 'links_color'>Add Review</h3>
                    <%= form_for ([@post, @post.comments.build]) do |f| %>
                        <% if @post.comments.build.errors.any? %>
                            <% @post.comments.build.errors.full_messages.each do |msg| %>
                                <div class="alert alert-danger"><%= msg %></div>
                            <% end %>
                        <% end %>

                        <p>
                            <%= f.label :username,{:class => 'float-left links_color'}  %><br>
                            <%= f.text_field(:username, {:class => 'form-control edit_form'}) %><br>
                        </p>

                        <p>
                            <%= f.label :review,{:class => 'float-left links_color'}  %><br>
                            <%= f.text_field(:body, {:class => 'form-control edit_form'}) %><br>
                        </p>

                        <p>
                            <%= f.submit({:class => 'btn btn-secondary button_property btn-lg active btn-primary_register', :style => 'padding: 15px'}) %>
                        </p>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>