<br>
<div class="container">
  <div class="row">
        <div class="col-md-10">
            <h4 class='links_color glow float-left'><%= @title %></h4><br><br><br>
            <% @dishes.each do |dish| %>
            <p class='content_color'><%= dish.name %></p>
            <%end%>
        </div>    
        <div class="col-md-2 ">
            <a href="<%=veg_starters_path%>" class="btn btn-secondary button_property float-right btn-lg active btn-primary_register btn_view" 
                role="button" aria-pressed="true">Veg Starters</a>
            <a href="<%=maincourse_list_path%>" class="btn btn-secondary button_property float-right btn-lg active btn-primary_register btn_view" 
                role="button" aria-pressed="true">Maincourse</a>
            <a href="<%=desserts_list_path%>" class="btn btn-secondary button_property float-right btn-lg active btn-primary_register btn_view" 
                role="button" aria-pressed="true">Desserts</a>
        </div>
    </div>
</div>