<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3 class='links_color'>Categories</h3>
            <% if !@categories.blank? %>
                <% for item in @categories %><br>
                    <%= item.name %> <%= link_to 'Delete', delete_categories_path(item.id),
                    data: { confirm: "Are you sure?" } %><br>
                <% end %>
            <% else %>   
            <% end %> <br><br>
            <% if @category.errors.any? %>
                    <% @category.errors.full_messages.each do |msg| %>
                        <div class="alert alert-danger"><%= msg %></div>
                    <% end %>
            <% end %> 
        </div>
        <div class="col-md-4"><br>
            <div class="card bg-info embose_effect">
                <div class="card-body text-center">
                    <%= form_for :category, url: categories_create_path do |f| %>
                        <p>
                            <br><h5 class='links_color float-left'>Add a new category</h5><br><br>
                            <%= f.text_field(:name, {:class => 'form-control form-control-categories float-left'}) %><br><br><br>
                        </p>
                        <p>
                            <%= f.submit "Add to category", ({:class => 'btn btn-secondary button_property btn-lg active btn-primary_register float-left', :style => 'padding: 15px'}) %>
                        </p>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

